.dash {
    box-sizing: border-box;
    width: 100%;

    text-align: center;
    color: #FFA500;
    overflow-y: hidden;
    height: 100%;
    transition: all 0.5s;
    animation: appear 0.8s;
    padding: 10px;
}

.calendar {
    height: 50%;
}

.react-calendar {
    width: 100% !important;
    max-height: 100%;
    color: #FFA500;
    border: none !important;
    border-radius: 5px;

}

.react-calendar__viewContainer {
    overflow: hidden;
}

.react-calendar,
.react-calendar {
    overflow: auto;
}

.react-calendar__year-view__months {
    overflow: hidden;
}

.react-calendar button {
    font-weight: 600;
    border-radius: 5px;
    color: #4A4A4A;

}

.react-calendar__tile--now {
    background-color: transparent !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
    font-weight: 400 !important;
    color: #757575 !important;
}

.react-calendar__tile--active {
    background-color: #FFA500 !important;
    color: #fff !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6 !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    color: white;
    background-color: #FFA500 !important;
}

.fc-day-today {
    background-color: transparent !important;

}

.fc-highlight {
    display: none !important;


}



/* .fc .fc-col-header-cell {
    background-color: var(--dark-theme) !important;
} */


.custom-selected-day {
    background-color: #ffa600 !important;
    color: white !important;

}

.tr {
    background-color: transparent !important;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dash-in {
    width: 100%;
    text-align: center;
    color: #FFA500;
    transition: all 0.5s;
    animation: appear 0.8s;
}

.circle-content {
    display: flex;
    justify-content: center;

}

.circle-1 {
    width: 50%;
}



.dash hr {
    border: 1px solid #FFA500;
}

.records {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    max-height: 50%;
    box-sizing: border-box;

}

.record-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;

}

.record-container .record-list {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 0.5px solid #4a4a4a6f;
}

.category,
.amount {
    display: flex;
    flex-direction: column;

    color: #4A4A4A;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

.category {
    align-items: start;
}

.amount {
    align-items: flex-end;
}

.amount p {
    padding: 2px;
    border-radius: 5px;
    width: fit-content;

}

.amount-display {
    display: flex;
    align-items: center;
}

.amount-display .record-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

}

.record-setting button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A4A4A;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: all .3s;
    font-size: 18px;
}

.record-setting button:active {
    color: #808080;

}

.amount .description,
.description p {
    padding: 0px;
    font-size: 0.9em;
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-total {
    display: flex;
    font-weight: 600;
}

.current-total p {
    padding: 0 5px;
}

.current-total p:nth-child(1) {
    color: #388E3C;
}

.current-total p:nth-child(2) {
    color: #D32F2F;
}

.plus {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: white;
    border: 2px solid #FFA500;
    background-color: #FFA500;
    border-radius: 50%;
    transition: all 0.5s;
    font-size: 20px;


}

.plus:hover {
    border: 2px solid #FFA500;
    background-color: white;
    color: #FFA500;
}