:root {
  --primary-color: #FFA500;
  --second-color: #f3f3f3;
  --text-color: #242424;
  --background-color: #FFFFFF;
  --second-text-color: #808080;
  --active-color: #D8D8D8;
  --income-color: #38CD09;
  --expense-color: #F1260B;
  --change-color: #1976D2;
}

.dark {

  --background-color: #18181B;
  --second-color: #121613;
  --text-color: #ffffffd8;
  --second-text-color: #c3c3c3;
  --active-color: #424242;

}




.App {
  display: flex;
  height: 100%;
  background-color: var(--background-color);
}

body {
  height: 100dvh;
  /* background-color: var(--dark-theme); */
  background-color: var(--second-color);
}

/* .active {

  background-color: var(--dark-theme) !important;
} */

/* a:not(.active) {
  color: var(--dark-theme) !important;
} */

#root {
  height: 100%;
}

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
  width: 4px;
}