:root {
  --primary-color: #FFA500;
  --second-color: hsla(0, 0%, 91%, .5);
  --text-color: #242424;
  --background-color: #FFFFFF;
  --second-text-color: #808080;
  --active-color: rgba(0, 0, 0, .07);
  --border-color: rgba(0, 0, 0, .1);
  --income-color: #38CD09;
  --expense-color: #F1260B;
  --change-color: #1976D2;
}

.dark {

  --background-color: rgba(33, 33, 33, 1);
  --second-color: #424242;
  --text-color: #ffffffd8;
  --second-text-color: #c3c3c3;
  --border-color: hsla(0, 0%, 100%, .1);
  --active-color: hsla(0, 0%, 100%, .15);

}




.App {
  display: flex;
  height: 100%;
  background-color: var(--background-color);
}

body {
  height: 100dvh;
  /* background-color: var(--dark-theme); */
  background-color: var(--background-color);
}

/* .active {

  background-color: var(--dark-theme) !important;
} */

/* a:not(.active) {
  color: var(--dark-theme) !important;
} */

#root {
  height: 100%;
}

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
  width: 4px;
}