* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    background-color: var(--background-color);
    height: 100%;
    color: var(--primary-color);

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
}

nav li {

    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

.name {
    box-sizing: border-box;
    width: 200px;
    display: flex;
    border-bottom: 1px solid var(--second-color);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.name i {
    display: none;
    padding: 5px;
    font-size: 20px;
}

.name h1 {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;


}

nav a {
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

    width: 90%;
    text-align: center;
    transition: all 0.5s;
}

nav button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: var(--background-color);
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 10px;
    transition: all .5s;
}

nav button:is(:active) {
    background-color: var(--active-color);
    color: var(--primary-color);

}



@media (any-hover: hover) {
    nav a:hover {
        background-color: var(--active-color);
        border-radius: 5px;
        color: var(--primary-color);
    }

    nav button:hover {
        background-color: var(--active-color);
        color: var(--primary-color);
    }

}

nav a::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: var(--primary-color);
    height: 100%;
    bottom: 0;
    left: -10px;
    border-radius: 5px;
    transform: scaleY(0);
    transition: all .3s;

}

nav .active {
    position: relative;
    border-radius: 5px;



}

nav .active::before {

    transform: scaleY(1);
}




/*RWD*/
@media screen and (max-width:768px) {
    .name i {
        display: block;
    }

    .name h1 {
        display: none;

    }

    .App {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .nav {
        width: 100%;
        height: auto;
        border-top: 2px solid var(--second-color);

    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }

    nav :is(a, button) {
        width: 100%;


    }

    nav a::before {
        content: "";
        position: absolute;
        width: 100%;
        background-color: var(--primary-color);
        height: 3px;
        bottom: -10px;
        left: 0;
        border-radius: 5px;
        transform: scaleX(0);
        transition: all .3s;

    }

    nav .active::before {

        transform: scaleX(1);
    }

    .name {
        width: auto;
        border: none;
    }

    nav li {
        width: 20%;
    }

    nav a p,
    nav button p {
        display: none;
    }

}

@media screen and (min-width:426px) {
    canvas {
        width: 300px !important;
        height: 300px !important;
    }
}

@media screen and (max-width:426px) {
    nav {
        padding-bottom: 20px;
    }

    .dash td {
        font-size: 0.8rem;
    }

    .Idtotal h3 {
        font-size: 1rem;
    }

    canvas {
        width: 250px !important;
        height: 250px !important;
    }


}